/* This is for the style of the actual course icons*/
.icon-style {
  color:red;
  font-size: 30px;
}

/* This is for the navigation bar on the side, the actual bar */
.wd-kanbas-navigation {
  background-color: black;
  list-style: none;
  color: white;
  font-family: sans-serif;
  padding: 0;
  width: 85;
}

/* This is for the navigation bar on the side, the actual content inside of it */
.wd-kanbas-navigation li {
  text-align: center;
  padding: 10px;
  font-size:large;
  height: 90px;
}

.wd-kanbas-navigation li a {
  color: white;
  text-decoration: none;
  font-size: 0.8em;
}

.wd-kanbas-navigation li.wd-active {
  background-color: white;
}

.wd-kanbas-navigation li.wd-active a {
  color: red;
}
